@model CRUD_Project.Models.UserTable

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication2022_NetCore8_MVC.styles.css" asp-append-version="true" />
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserTable（刪除）</h4>
    <hr />
    <dl class="row">
         <dt class="col-sm-2 offset-sm-1">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.UserId)
        </dd>
         <dt class="col-sm-2 offset-sm-1">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.UserName)
        </dd>
         <dt class="col-sm-2 offset-sm-1">
            @Html.DisplayNameFor(model => model.UserSex)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.UserSex)
        </dd>
         <dt class="col-sm-2 offset-sm-1">
            @Html.DisplayNameFor(model => model.UserBirthDay)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.UserBirthDay)
        </dd>
        <dt class="col-sm-2 offset-sm-1">
            @Html.DisplayNameFor(model => model.UserMobilePhone)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.UserMobilePhone)
        </dd>
    </dl>

     <form asp-action="Delete" class="offset-sm-1">
         <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="List" class="btn btn-secondary">Back to List</a> |
        <a asp-action="IndexPage" class="btn btn-secondary">Back to IndexPage</a>
    </form>
</div>
</body>
</html>
