@model IEnumerable<CRUD_Project.Models.UserTable>

@{
    ViewData["Title"] = "IndexPage";
    Layout = "_Layout";
}

<h1>IndexPage</h1>

<p>
    <h3> 請輸入關鍵字，搜尋「UserName」欄位</h3>
    <form asp-action="Search">

        <div class="form-group">
            <input type="text" name="strSearchWord" />
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>

    </form>
    <br />
    <hr />
    <br />
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserMobilePhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @*  @Html.DisplayFor(modelItem => item.UserName) *@
                    <a asp-action="Details" asp-route-_ID="@item.UserId">@Html.DisplayFor(modelItem => item.UserName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserSex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserBirthDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserMobilePhone)
                </td>
                <td>
                    @*                 @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                    <a asp-action="Edit" asp-route-_ID="@item.UserId">Edit 編輯</a> |
                    <a asp-action="Delete" asp-route-_ID="@item.UserId">Delete 刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />
@Html.Raw(ViewBag.PageList)     @* 畫面最下方的「分頁列」 *@