@model IEnumerable<CRUD_Project.Models.UserTable>

@{
    ViewData["Title"] = "List";
    Layout = "_Layout3";
}

<h1>List - 「多筆」User Data記錄的呈現</h1>

<p>
    <a asp-action="Create">Create New（新增一筆記錄）</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserMobilePhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserSex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserBirthDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserMobilePhone)
                </td>
                <td>
                    @*                 @Html.ActionLink("Edit 編輯", "Edit", new { _ID = item.UserId }) |
                @Html.ActionLink("Details 明細", "Details", new { _ID = item.UserId }) |
                @Html.ActionLink("Delete 刪除", "Delete", new { _ID = item.UserId })
                <hr /> *@
                    <!-- 錨點的寫法 https://docs.microsoft.com/zh-tw/aspnet/core/mvc/views/tag-helpers/built-in/anchor-tag-helper?view=aspnetcore-5.0 -->
                    <h6>Tag Helper 的寫法：</h6>
                    <a asp-action="Edit" asp-route-_ID="@item.UserId">Edit 編輯</a> |
                    <a asp-action="Details" asp-route-_ID="@item.UserId">Details 明細</a> |
                    <a asp-action="Delete" asp-route-_ID="@item.UserId">Delete 刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<hr />
<br />
<h3> 請輸入關鍵字，搜尋「UserName」欄位</h3>
<form asp-action="Search">

    <div class="form-group">
        <input type="text" name="strSearchWord" />
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>

</form>