@model IEnumerable<CRUD_Project.Models.UserTable>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication2022_NetCore8_MVC.styles.css" asp-append-version="true" />
</head>
<body>
<p>
    <h3>Search (模糊搜尋)-- 您搜尋的關鍵字是 ： <font color="red"> @ViewData["SW"] </font></h3>
</p>
 <table class="table" border="1">
        <tr>
            <th>
                <!-- 表格上方的欄位「標題」 -->
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserMobilePhone)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserSex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserBirthDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserMobilePhone)
                </td>
            </tr>
        }
</table>
    <div>
        <a asp-action="List" class="btn btn-secondary">Back to List</a> |
        <a asp-action="IndexPage" class="btn btn-secondary">Back to IndexPage</a>
    </div>
</body>
</html>
